.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 74px auto 0;
  padding: 0 30px;
  max-width: 410px;
  transition: all 0.3s ease-in-out;
}

.profile__title {
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.profile__form {
  width: 100%;
  margin-top: 123px;
  display: flex;
  flex-direction: column;
}

.profile__field {
  padding: 0;
  margin: 0;
  margin-bottom: 220px;
  border: none;
  transition: all 0.3s ease-in-out;
}

.profile__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3px;
  transition: all 0.3s ease-in-out;
}

.profile__wrapper:first-child {
  border-bottom: 1px solid #424242;
  padding-bottom: 16px;
}

.profile__wrapper:last-child {
  padding-top: 16px;
}

.profile__label {
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
}

.profile__input {
  margin: 0;
  padding: 0;
  width: 80%;
  background-color: transparent;
  text-align: right;
  border: none;
  color: #fff;
  font-size: 13px;
  outline: none;
}

.profile__wrapper:focus-within {
  outline: 1px solid #3ddc84;
}

.profile__edit {
  padding: 0;
  margin: 0 0 16px;
  border: none;
  width: 150px;
  background-color: transparent;
  cursor: pointer;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #fff;
  text-decoration: none;
  align-self: center;
  transition: all 0.3s ease-in;
}

.profile__edit:hover {
  opacity: 0.7;
}

.profile__logout {
  padding: 0;
  margin: 0 0 40px;
  width: 150px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #ee3465;
  text-decoration: none;
  align-self: center;
  transition: all 0.3s ease-in;
}

.profile__logout:hover {
  opacity: 0.9;
}

@media screen and (max-width: 768px) {
  .profile {
    margin: 236px auto 0;
  }

  .profile__field {
    margin-bottom: 210px;
  }
}

@media screen and (max-width: 380px) {
  .profile {
    margin: 236px auto 0;
  }

  .profile__field {
    margin-bottom: 379px;
  }

  .profile__edit {
    font-size: 12px;
    line-height: 15px;
  }

  .profile__logout {
    font-size: 12px;
    line-height: 15px;
  }
}
