.search {
  margin: 70px 0;
  padding: 0 70px;
}

.search__wrapper {
  border: 1.5px solid #424242;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
}

.search__input {
  padding-left: 25px;
  border: none;
  width: 100%;
  color: #fff;
  background-color: transparent;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  outline: none;
}

.search__button {
  padding: 0;
  margin: 10px 10px;
  width: 100px;
  color: #fff;
  height: 52px;
  background-color: #4285f4;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}
