.header {
  display: flex;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 18px 70px;
  max-width: 1140px;
  justify-content: space-between;
}

.header-color {
  background-color: #073042;
}

.header__image {
  min-width: 38px;
  height: 38px;
  background-image: url("../../images/logo.png");
  background-repeat: no-repeat;
  object-position: center;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}

.header__image:hover {
  scale: 1.1;
}

@media screen and (max-width: 1024px) {
  .header {
    padding: 18px 30px;
  }
}

@media screen and (max-width: 560px) {
  .header {
    padding: 18px 14px;
  }
}
