.header {
  margin: 0 auto;
  padding: 18px 70px;
  max-width: 1140px;
  display: flex;
  justify-content: space-between;
}

.header-color {
  background-color: #073042;
}

.header__image {
  width: 38px;
  height: 38px;
  background-image: url("../../images/logo.png");
  background-repeat: no-repeat;
  object-position: center;
  object-fit: cover;
}
