.auth {
  padding-top: 70px;
}

.auth__wrapper {
  margin: 0 auto;
  padding: 0 30px;
  max-width: 396px;
}

.auth__image {
  display: flex;
  width: 38px;
  height: 38px;
  background-image: url("../../images/logo.png");
  background-repeat: no-repeat;
  object-position: center;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
  margin-bottom: 40px;
}

.auth__image:hover {
  scale: 1.1;
}

.auth__text {
  padding: 0;
  margin: 0 0 40px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.auth__question {
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #8b8b8b;
  text-align: center;
}

.auth__link {
  padding: 0;
  margin: 0 0 0 6px;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #4285f4;
}

@media screen and (max-width: 380px) {
  .auth__text {
    text-align: center;
    margin-top: 50px;
  }

  .auth__question {
    font-size: 12px;
    line-height: 15px;
  }

  .auth__link {
    font-size: 12px;
    line-height: 15px;
  }

  .auth__image {
    margin: 0 auto;
  }
}
